* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #fff;
  --button-color: #0118d8;
  --button-color-hover: #1b56fd;
  --button-color-active: #0a0f7c;
  --text-color: #fff;
  --text-color-hover: black;
  --font-family: "Roboto", Arial, sans-serif;
}
body {
  font-family: var(--font-family);
  background-image: url("../mubis_logo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.container {
  backdrop-filter: blur(2px);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form {
  background-color: var(--background-color);
  width: 380px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container form .tabs-content {
  display: none;
}
.container form .tabs-content.active {
  display: block;
}
.container form .footer-button {
  width: 360px;
  height: 40px;
  padding: 6px;
  background-color: var(--button-color);
  color: var(--text-color);
  border-radius: 6px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.container form .footer-button:hover {
  background-color: var(--button-color-hover);
  cursor: pointer;
}
.container form .footer-button:focus {
  background-color: var(--button-color);
  cursor: pointer;
}
.container form h1 {
  font-size: 24px;
  font-family: var(--font-family);
  font: bold;
  text-align: center;
  margin: 16px 0;
}



.container form .tabs-content .form-group {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 16px;
  position: relative;
}
.container form .tabs-content .form-group .upper,
.container form .tabs-content .form-group .down {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.container form .tabs-content .form-group label {
  font-size: 12px;
  font-family: var(--font-family);
  color: #333;
}
.container form .tabs-content .form-group label span {
  color: red;
  font-size: 16px;
  margin-left: 5px;
}
.container form .tabs-content .form-group .upper input {
  padding: 10px;
  border-radius: 6px;
  width: 360px;
  height: 40px;
  border: 1px solid #9b9b9b;
}
.container form .tabs-content .form-group .down {
  margin-bottom: 30px;
}
.container form .tabs-content .form-group .down .input-pass-container {
  padding: 10px;
  border-radius: 6px;
  width: 360px;
  height: 40px;
  border: 1px solid #9b9b9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container
  form
  .tabs-content
  .form-group
  .down
  .input-pass-container
  input {
  width: 340px;
  height: 30px;
  outline: none;
  visibility: none;
  border: none;
}
.container
  form
  .tabs-content
  .form-group
  .down
  .input-pass-container
  img {
  cursor: pointer;
}

.container
  form
  .tabs-content
  .form-group
  .down
  .input-pass-container:hover {
  outline: none;
  border-color: black;
}
.container form .tabs-content .form-group .upper input:hover {
  outline: none;
  border-color: black;
}
.container
  form
  .tabs-content
  .form-group
  .down
  .input-pass-container:focus {
  border-color: var(--button-color);
  outline: none;
}

.container form .tabs-content .form-group .upper input:focus {
  border-color: var(--button-color);
  outline: none;
}
.container form .tabs-content .form-group .upper input::placeholder {
  font-size: 12px;
}